<body>
<h1 *ngIf="won">
  Congratulations, you won!
</h1>

<h1 *ngIf="lost">
  Sorry, maybe next time!
</h1>

<h1 *ngIf="draw">
  Sorry, it's a draw!
</h1>

<h2 *ngIf="canMove">
  Your turn!
</h2>

<h2 *ngIf="!canMove && !(won || lost || draw)">
  Your opponent's move
</h2>
<span class="material-icons" [routerLink]="['/menu']">chevron_left</span>

<div class = "ui">
  <div class="row">
    <input type="text" id= "b1"
           class="cell" (click)="move('b1');" readonly [placeholder]="game[0]">

    <input type="text" id= "b2"
           class="cell" (click)="move('b2');"
           readonly [placeholder]="game[1]">
    <input type="text" id= "b3" class="cell"
           (click)="move('b3');"
           readonly [placeholder]="game[2]">
  </div>

  <div class="row">
    <input type="text" id= "b4"
           class="cell" (click)="move('b4');"
           readonly [placeholder]="game[3]">
    <input type="text" id= "b5"
           class="cell" (click)="move('b5');"
           readonly [placeholder]="game[4]">
    <input type="text" id= "b6" class="cell"
           (click)="move('b6');"
           readonly [placeholder]="game[5]">
  </div>

  <div class="row">
    <input type="text" id= "b7"
           class="cell" (click)="move('b7');"
           readonly [placeholder]="game[6]">
    <input type="text" id= "b8"
           class="cell" (click)="move('b8');"
           readonly [placeholder]="game[7]">
    <input type="text" id= "b9" class="cell"
           (click)="move('b9');"
           readonly [placeholder]="game[8]">
  </div>
</div>

<div class="button-container" *ngIf="won || lost || draw">
  <button (click)="onPlayAgain()" type="button" class="btn btn-primary">
    Play again
  </button>
  <button [routerLink]="['../menu']" type="button" class="btn btn-secondary">
    Menu
  </button>
</div>

<!--<i class="material-icons">close</i>-->
<!--<i class="material-icons">radio_button_unchecked</i>-->
<br><br><br>
</body>
