.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
  border-top: 2px solid #dee2e6;
}

.thead-dark th {
  color: #fff;
  background-color: #343a40;
  border-color: #454d55;
}
.material-icons {
  cursor: pointer;
}
