<!-- Default form login -->

<h1>Welcome to tic-tac-toe game! </h1>
  <h2> Please login to play </h2>
<form class="text-center border border-light p-5">
  <input type="text" id="defaultLoginFormUsername" class="form-control mb-4" [(ngModel)]="username" placeholder="Username" name="username">
  <!-- Password -->
  <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" [(ngModel)]="password" placeholder="Password" name="password">
  <div class="d-flex justify-content-around">
    <p class="error-message" *ngIf="isIncorrect"> Incorrect login or password</p>
  </div>
  <button class="btn btn-primary" block="true" type="submit" (click)="onSubmit()">Login</button>
</form>
<router-outlet></router-outlet>
